# Node.js
node_modules/
.env
.DS_Store

# Logs
logs/
*.log

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Output
src/data/*.csv

# VSCode
.vscode/

# OS-specific
Thumbs.db
ehthumbs.db
desktop.ini

# Optional npm cache
.npm

# Optional yarn cache
.yarn
